body {
  background-color: rgb(234,237,237);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothig: grayscale;
}

code{
  font-family: source-code-pro, Menlo, Monaco, monospace;
}
